body {
    font-family: Lucida Sans Unicode;
    width: 900px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, hr {
    margin: 0;
}

h1 {
    letter-spacing: 8px;
    color: #5E9631;
    text-align: center;
    padding: 0.7em;
}

h2, hr {
    color: #75BA46;
    border-color: #75BA46;
}

h3, .text-orange {
    color: #BE8344;
}

main {
    width: 100%;
    padding: 13px;
    background-color: rgb(200, 200, 200);
    margin-top: 3em;
}

.wrapper {
    background-color: white;
}

.container {
    border: rgb(175, 170, 170) 1px solid;
    display: inline-block;
    text-align: justify;
    padding: 20px;
    margin: 15px;
}

